* {
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

.tiendaInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.tiendaInfo h2 {
  font-size: 1rem;
}
.tiendaInfo p {
  font-size: 14px;
  margin: 10px 10px 10px 10px;
}
.tiendaInfo .dudas {
  margin-top: 30px;
}

.mainTienda {
  background-color: #D3D3D3;
  width: 390px;
}
.mainTienda .tiendaContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainTienda .tiendaContenedor .producto {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background-color: #c573da;
  margin: 16px 8px 16px 8px;
  height: 8rem;
  width: 22rem;
}
.mainTienda .tiendaContenedor .producto img {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  overflow: hidden;
  /* margin-left: -2rem; */
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 15%, rgb(0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 10%, rgb(0, 0, 0) 100%);
}
.mainTienda .tiendaContenedor .producto .infoProducto h2 {
  margin: 4px 0px 0px 16px;
  font-size: 1rem;
  width: 200px;
}
.mainTienda .tiendaContenedor .producto .infoProducto p {
  margin: 4px 0px 0px 16px;
  width: 200px;
  font-size: 14px;
}
.mainTienda .tiendaContenedor .producto .precioYSeleccionado {
  display: none;
}
.mainTienda .tiendaContenedor .botonCompra {
  display: inline-block;
  margin-left: 1px;
  font-size: 2rem;
  color: #fff;
  background-color: #FFA43A;
  border: 2px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.mainTienda .tiendaContenedor .botonCompra:hover {
  background-color: #33ff00;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.mainTienda .tiendaContenedor .botonCompra:active {
  background-color: #e2a41e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
.mainTienda .producto:hover .infoProducto {
  display: none;
}
.mainTienda .producto:hover .precioYSeleccionado {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-bottom: 37px;
}
.mainTienda .producto:hover .precioYSeleccionado h3 {
  font-size: 1.3rem;
  margin: 20px 0 8px;
}
.mainTienda .producto:hover .precioYSeleccionado #paqueteSeleccionado {
  display: inline-block;
  padding: 7px 5px;
  margin-left: 1px;
  font-size: 11px;
  color: #fff;
  background-color: #75C7FF;
  border: 2px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.mainTienda .producto:hover .precioYSeleccionado #paqueteSeleccionado:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.mainTienda .producto:hover .precioYSeleccionado #paqueteSeleccionado:active {
  background-color: #e2a41e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.carritoYCompra {
  display: none;
}

.footerTienda {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #75C7FF;
  width: 220px;
  border: 1px solid #1b1b1b;
  border-top: 0;
  border-bottom: 0;
  height: 100vh;
}
.footerTienda div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerTienda div a {
  margin: 2rem;
}
.footerTienda div a img {
  height: 4rem;
  width: 4rem;
}
.footerTienda div a .calculadorasEnlace {
  height: 9rem;
  width: 7rem;
}

.swalNoTransition {
  transition: none !important;
}

.bodyIndex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  background-image: url(/assets/img/fondoBody.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bodyIndex .headerIndex {
  background-color: #FFA43A;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 338px;
  border: 1px solid #1b1b1b;
  border-top: 0;
  border-bottom: 0;
}
.bodyIndex .headerIndex .tituloYLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 93.52px;
}
.bodyIndex .headerIndex .tituloYLogo h1 {
  position: absolute;
  visibility: hidden;
}
.bodyIndex .headerIndex .tituloYLogo a {
  margin: 2% 0% 0% 4%;
}
.bodyIndex .headerIndex .tituloYLogo a .imgIcono {
  height: 75px;
}
.bodyIndex .headerIndex .tituloYLogo .zyzzPose {
  margin: 2% 4% 0% 0%;
  height: 75px;
}
.bodyIndex .headerIndex .persona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 2rem 1rem 2rem;
  height: 700px;
}
.bodyIndex .headerIndex .persona input::placeholder {
  color: #999999;
}
.bodyIndex .headerIndex .persona .fotoPersona {
  margin: 5% 0% 5% 0%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  height: 240px;
}
.bodyIndex .headerIndex .persona .fotoPersona img {
  width: 15rem;
  height: 15rem;
}
.bodyIndex .headerIndex .persona .nombrePersona {
  display: flex;
  justify-content: center;
}
.bodyIndex .headerIndex .persona .nombrePersona input {
  width: 100%;
  height: 1rem;
  font-size: 1.6rem;
  text-align: center;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #f9f9f9;
}
.bodyIndex .headerIndex .persona .datosPersona tr th {
  font-size: 1.7rem;
  text-align: start;
  white-space: nowrap;
}
.bodyIndex .headerIndex .persona .datosPersona tr th select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 0.9rem;
  color: #333;
  width: 5rem;
  cursor: pointer;
}
.bodyIndex .headerIndex .persona .datosPersona tr th .select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
.bodyIndex .headerIndex .persona .datosPersona tr th input {
  width: 3rem;
  height: 1rem;
  font-size: 1.6rem;
  text-align: center;
  white-space: nowrap;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.6rem;
  color: #333;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}
.bodyIndex .headerIndex .persona .datosPersona tr th input::-webkit-inner-spin-button, .bodyIndex .headerIndex .persona .datosPersona tr th input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.bodyIndex .headerIndex .persona .botonGuardarPersona {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #75C7FF;
  border: 2px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.bodyIndex .headerIndex .persona .botonGuardarPersona:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.bodyIndex .headerIndex .persona .botonGuardarPersona:active {
  background-color: #e2a41e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
.bodyIndex .headerIndex .persona .ayudaIndex {
  margin-top: 1rem;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #75C7FF;
  border: 2px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.bodyIndex .headerIndex .persona .ayudaIndex:hover {
  background-color: #24b300;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.bodyIndex .headerIndex .persona .ayudaIndex:active {
  background-color: #e2a41e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
.bodyIndex .mainIndex {
  background-color: #D3D3D3;
  width: 390px;
}
.bodyIndex .mainIndex div {
  margin: 4% 5% 0% 3%;
  background-color: white;
}
.bodyIndex .mainIndex .calculadorasIndex {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio {
  display: flex;
  flex-direction: row;
  background-color: #D3D3D3;
  margin: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc {
  margin-right: 1.5%;
  width: 50%;
  border: 1px solid #1b1b1b;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc div {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc div input {
  width: 3rem;
  height: 1rem;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc div input::-webkit-inner-spin-button, .bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc div input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc div button {
  margin-top: 10px;
  height: 38px;
  width: 80px;
  padding: 10px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #75C7FF;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  line-height: 2px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc div button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc div button:active {
  background-color: #e2a41e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc table {
  width: 100%;
  padding: 0;
  margin: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc table tr {
  display: flex;
  padding: 0;
  margin: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc table tr th {
  border: 2px solid rgba(0, 0, 0, 0.6509803922);
  width: 50%;
  height: 30px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc table tr .cuadroSlotArriba {
  border-left: 0;
  border-top: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc table tr .cuadroSlotArribaDerecha {
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc table tr .cuadroSlotAbajo {
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .cbdc table tr .cuadroSlotAbajoFinal {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .grasaCoporalMarineMetodo {
  border: 1px solid #1b1b1b;
  display: flex;
  flex-direction: column;
  margin-left: 1.5%;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .grasaCoporalMarineMetodo h2 {
  margin: 10px 0 0;
  width: 138px;
  font-size: 1rem;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .grasaCoporalMarineMetodo .inputsCalculadoraGrasa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .grasaCoporalMarineMetodo input {
  width: 110px;
  height: 0.6rem;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  padding: 10px 15px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .grasaCoporalMarineMetodo input::-webkit-inner-spin-button,
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .grasaCoporalMarineMetodo input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .grasaCoporalMarineMetodo .botonYResultado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99%;
  margin: 0 4px 0 0;
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .grasaCoporalMarineMetodo .botonYResultado button {
  height: 34px;
  width: 66px;
  padding: 0;
  margin-left: 9%;
  font-size: 1rem;
  color: #fff;
  background-color: #75C7FF;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .grasaCoporalMarineMetodo .botonYResultado button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .grasaCoporalMarineMetodo .botonYResultado button:active {
  background-color: #e2a41e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
.bodyIndex .mainIndex .calculadorasIndex .dobleCalculadoraEspacio .grasaCoporalMarineMetodo .botonYResultado p {
  height: 2rem;
  width: 4rem;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  margin: 0 8% 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}
.bodyIndex .mainIndex .calculadorasIndex .ffmiCalculadora {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.6509803922);
}
.bodyIndex .mainIndex .calculadorasIndex .ffmiCalculadora div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bodyIndex .mainIndex .calculadorasIndex .ffmiCalculadora div p {
  white-space: nowrap;
  text-align: center;
  margin: 7px 10px 10px 10px;
}
.bodyIndex .mainIndex .calculadorasIndex .ffmiCalculadora div .ffmiHTML {
  margin-top: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .ffmiCalculadora .barraProgresoFFMI {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.bodyIndex .mainIndex .calculadorasIndex .ffmiCalculadora .barraProgresoFFMI p {
  margin: 5px 0;
}
.bodyIndex .mainIndex .calculadorasIndex .ffmiCalculadora .barraProgresoFFMI progress {
  width: 160px;
  height: 15px;
  background-color: #000000;
  text-align: center;
  color: rgb(0, 183, 255);
  font-weight: bold;
  line-height: 30px;
  transition: width 0.4s ease;
}
.bodyIndex .mainIndex .calculadorasIndex .bmrCalculadora {
  border: 1px solid rgba(0, 0, 0, 0.6509803922);
  padding: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .bmrCalculadora table {
  width: 100%;
  padding: 0;
  margin: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .bmrCalculadora table tr {
  display: flex;
  padding: 0;
  margin: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .bmrCalculadora table tr th {
  border: 2px solid rgba(0, 0, 0, 0.6509803922);
  width: 50%;
  height: 30px;
  padding: 0;
  margin: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .bmrCalculadora table tr .cuadroSlotArriba {
  border-left: 0;
  border-top: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .bmrCalculadora table tr .cuadroSlotArribaDerecha {
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .bmrCalculadora table tr .cuadroSlotAbajo {
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .bmrCalculadora table tr .cuadroSlotAbajoFinal {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .mcCalculadora {
  border: 1px solid rgba(0, 0, 0, 0.6509803922);
  padding: 0;
  font-size: 0.8rem;
}
.bodyIndex .mainIndex .calculadorasIndex .mcCalculadora table {
  width: 100%;
  padding: 0;
  margin: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .mcCalculadora table tr {
  display: flex;
  padding: 0;
  margin: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .mcCalculadora table tr th {
  border: 2px solid rgba(0, 0, 0, 0.6509803922);
  width: 50%;
  height: 30px;
  padding: 0;
  margin: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .mcCalculadora table tr .ffmiCuadroSlotArriba {
  border-left: 0;
  border-top: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .mcCalculadora table tr .ffmiCuadroSlotArribaDerecha {
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .mcCalculadora table tr .ffmiSlotAbajo {
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}
.bodyIndex .mainIndex .calculadorasIndex .mcCalculadora table tr .ffmiSlotAbajoFinal {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}
.bodyIndex .footerIndex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #75C7FF;
  width: 220px;
  border: 1px solid #1b1b1b;
  border-top: 0;
  border-bottom: 0;
  height: 100vh;
}
.bodyIndex .footerIndex div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.bodyIndex .footerIndex div ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  margin: 20px;
}
.bodyIndex .footerIndex div ul .botonSeleccionarPersona {
  height: 33px;
  width: 9rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #FFA43A;
  border: 2px solid transparent;
  border-radius: 4px;
  text-align: center;
  line-height: 2px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.bodyIndex .footerIndex div ul .personaSeleccionada {
  background-color: #0056b3;
  margin-bottom: 1rem;
  white-space: nowrap;
}
.bodyIndex .footerIndex div button {
  height: 33px;
  width: 9rem;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #FFA43A;
  border: 2px solid transparent;
  border-radius: 4px;
  text-align: center;
  line-height: 2px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.bodyIndex .footerIndex div button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.bodyIndex .footerIndex div button:active {
  background-color: #02a5d6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
.bodyIndex .footerIndex div .listaOpcionCrearPersona:hover {
  background-color: #24b300;
}
.bodyIndex .footerIndex div .listaOpcionBorrar {
  margin: 1rem 0 2rem 0;
}
.bodyIndex .footerIndex div .listaOpcionBorrar:hover {
  background-color: #ff0000;
}
.bodyIndex .footerIndex .tiendaPlace a {
  border-radius: 50%;
}
.bodyIndex .footerIndex .tiendaPlace img {
  margin-left: 4px;
  height: 10rem;
  width: 10rem;
  overflow: visible;
}

/*# sourceMappingURL=main.css.map */
